.main {
  text-align: center;
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
 font-size: 42px;
}


.image {
  height: 25vh;
  width: 25vh;
  font-size: 25px;
  background: blue;
  margin: 10px;
  display: inline-block;
  line-height: 100px; 
}
::-webkit-scrollbar {
  display: none; /* Chrome Safari */
} 
.image-container {
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  overflow-x:auto;
  overflow-y: hidden;
  width: 90%;
}

.prev, .next {
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: 100%;
  cursor: pointer;
  color: black;
  transition: 0.01s ease;
}

.next {
  margin-left: 5px;
}

.prev {
  margin-right: 5px;
}

.prev:hover, .next:hover {
  color: white;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}